---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ item.key }}
spec:
  capacity:
    storage: {{ item.value.size }}
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: {{ item.value.reclaimpolicy }}
  storageClassName: {{ local_storageclass_name }}
  local:
    path: {{ item.value.path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ item.value.node }}