---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: csi-cluster-admin
  namespace: kubetools

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: csi-cluster-reporter
  namespace: kubetools