NAME=ens192
GATEWAY={{ vm_network_ipv4_defaultgateway }}
{% for dns_server in vm_network_dns_servers %}
DNS{{ loop.index }}={{ dns_server }}
{% endfor  %}
DEVICE=ens192
ONBOOT=yes
USERCTL=no
BOOTPROTO=static
NETMASK=255.255.255.0
IPADDR={{ ansible_host }}
PEERDNS=no
IPV6INIT=yes
IPV6_AUTOCONF=yes

check_link_down() {
 return 1;
}